.navigation-section{
	min-height: 12vh;
	background-color: rgba(0, 0, 0, 0);
	display: flex;
	align-items: center;
	justify-content: center;
	padding-inline: 4rem ;

	position: sticky;
	z-index: 999;
	top: 0;

	animation: navFade ease-in forwards;
	animation-timeline: view();
	animation-range-start: 105vh;
	animation-range-end: 120vh;
}

@keyframes navFade {
	100%{
		background-color: rgb(18, 18, 18);
		transform: translateY(-10px);
	}
}
	

.nav-wrapper{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-inline: 140px;
}

.nav-list{
	display: flex;
	gap: 15px;
}

.nav-item{
	list-style: none;
	font-size: .8rem;
	font-weight: 500;
	position: relative;
	top: 13px;
}

.nav-link{
	text-decoration: none;
}

Link{
	text-decoration: none;
}

@media  screen and (max-width:900px) {
    
}
